<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

<!--{% include 'head.html' %}-->
<title>Capture Image</title>

</head>
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {% include 'sidebar.html' %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% include 'topbar.html' %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Capture Plate Image</h1>
          <div class="card-group row">
            <div class="col-lg-6">
              {% include 'modules/imagelist/imagelist.html' %}
              <div class="card shadow mb-4 ">
                <div class="card-header py-3">
                  <div class="d-flex flex-row justify-content-between align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary w-100 align-self-center">User Controls</h6>
                    <button id='minimize-settings' class="btn btn-link" data-toggle="collapse" data-target="#usercontrolcontent" aria-expanded="true" aria-controls="collapseOne"><i class="far fa-window-minimize"></i></button>
                  </div>
                </div>
                <div class="card-body show" id='usercontrolcontent'>
                  <form id="userControlsForm" class="form">
                    <div class="form-group row">
                      <div class="col">
                        {{ UserControlsForm.brightness.label }}
                        {{ UserControlsForm.brightness }}
                        {{ UserControlsForm.contrast.label }}
                        {{ UserControlsForm.contrast }}
                        {{ UserControlsForm.saturation.label }}
                        {{ UserControlsForm.saturation }}
                        {{ UserControlsForm.sharpness.label }}
                        {{ UserControlsForm.sharpness }}
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <!-- CAMERA CONTROL -->
              <div class="card shadow mb-4 ">
                <div class="card-header py-3">
                  <div class="d-flex flex-row justify-content-between align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary w-100 align-self-center">Camera Controls</h6>
                    <button id='minimize-settings' class="btn btn-link" data-toggle="collapse" data-target="#cameracontrolcontent" aria-expanded="true" aria-controls="collapseOne"><i class="far fa-window-minimize"></i></button>
                  </div>
                </div>
                <div class="card-body show" id='cameracontrolcontent'>
                  <form id="cameraControlsForm">
                    <div class="row">
                      <div class="col">
                        <div class="form-group" id="form_auto_exposure">
                          {{ CameraControlsForm.auto_exposure.label }}
                          {{ CameraControlsForm.auto_exposure }}
                        </div>
                        <div class="form-group" id="form_exposure_time_absolute">
                          {{ CameraControlsForm.exposure_time_absolute.label }}
                          {{ CameraControlsForm.exposure_time_absolute }}
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group" id="form_white_balance_auto_preset">
                          {{ CameraControlsForm.white_balance_auto_preset.label }}
                          {{ CameraControlsForm.white_balance_auto_preset }}
                        </div>
                        <div class="form-group" id="form_colour_gains">
                          {{ CameraControlsForm.colour_gains.label }}
                          {{ CameraControlsForm.colour_gains }}
                        </div>
                        <div class="form-group" id="form_analogue_gain">
                          {{ CameraControlsForm.analogue_gain.label }}
                          {{ CameraControlsForm.analogue_gain }}
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group" id="form_imagenumber">
                          {{ CameraControlsForm.imagenumber.label }}
                          {{ CameraControlsForm.imagenumber }}
                        </div>
                        <div class="form-group" id="form_delaytime">
                          {{ CameraControlsForm.delaytime.label }}
                          {{ CameraControlsForm.delaytime }}
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- LED CONTROL -->
              <div class="card shadow mb-4 ">
                <div class="card-header py-3">
                  <div class="d-flex flex-row justify-content-between align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary w-100 align-self-center">LEDs Controls</h6>
                    <button id='minimize-settings' class="btn btn-link" data-toggle="collapse" data-target="#ledcontrolcontent" aria-expanded="true" aria-controls="collapseOne"><i class="far fa-window-minimize"></i></button>
                  </div>
                </div>
                <div class="card-body show" id='ledcontrolcontent'>
                  <form id="ledsControlsForm">
                    <div class="form-group" id="uv_light">
                      <div class="d-flex justify-content-between py-2">
                        {{ LedsControlsForm.uv365_power.label }}
                        {{ LedsControlsForm.uv365_power }}
                        <input type="number" class='form-control' value='0' id='uv365text' min="0" max="255" style="width: 6em"/>
                      </div>
                      <div class="d-flex justify-content-between py-2">
                      {{ LedsControlsForm.uv255_power.label }}
                      {{ LedsControlsForm.uv255_power }}
                      <input type="number" class='form-control' value='0' id='uv255text' min="0" max="255" style="width: 6em"/>
                      </div>
                      <div class="d-flex justify-content-between py-2">
                        {{ LedsControlsForm.whitet_power.label }}
                        {{ LedsControlsForm.whitet_power }}
                        <input type="number" class='form-control' value='0' id='whitettext' min="0" max="255" style="width: 6em"/>
                      </div>
                      <div class="d-flex justify-content-between py-2">
                        {{ LedsControlsForm.white.label }}
                        {{ LedsControlsForm.white }}
                        <input type="number" class='form-control' value='0' id='whitetext' min="0" max="255" style="width: 6em"/>
                      </div>
                    </div>
                    <hr>
                    <div class="d-flex flex-row justify-content-center">
                    <div id="picker"></div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- FORMAT CONTROL -->
              <div class="card shadow mb-4 ">
                <div class="card-header py-3">
                  <div class="d-flex flex-row justify-content-between align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary w-100 align-self-center">Format Controls</h6>
                    <button id='cameraposbttn' class="btn btn-link"><i class="fas fa-microscope"></i></button>
                    <button id='hommingbttn' name='start' class="btn btn-link"  data-toggle="modal" data-target="#hommingModal"><i class="fas fa-home"></i></button>
                    <button id='minimize-settings' class="btn btn-link" data-toggle="collapse" data-target="#formatcontrolcontent" aria-expanded="true" aria-controls="collapseOne"><i class="far fa-window-minimize"></i></button>
                  </div>
                </div>
                <div class="card-body show" id='formatcontrolcontent'>
                  <form id="codecControlsForm">
                    {% for fields in FormatControlsForm %}
                        {{ fields.label }}
                        {{ fields }}
                    {% endfor %}
                    <div class="d-flex justify-content-center m-2">
                      <button id='shootbttn' class="btn btn-primary">Take Photo!</button>
                    </div>
                  </div>
                  </form>
                </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->


      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include 'footer.html' %}
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'js/sb-admin-2.js' %}"></script>
  {% include 'modules/detectionhome/detectionhome.html' %}
  <script src="{% static 'js/oclab/topbar.js' %}"></script>
  {% include 'modules/csrftoken/csrftoken.html' %}
  <script src="{% static 'modules/colpick/colpick.js' %}" type="text/javascript"></script>
  <link rel="stylesheet" href="{% static 'modules/colpick/colpick.css' %}" type="text/css"/>
  <script src="{% static 'js/oclab/detection.js' %}" charset="utf-8"></script>
  <!-- Modales Pop-up-Fenster -->
<div id="loadingModal" style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); background-color:white; padding:20px; border-radius:10px; box-shadow:0px 0px 10px rgba(0,0,0,0.5); z-index:1000;">
  <p>Image process...</p>
</div>

<!-- Optional: Overlay, um den Hintergrund zu verdunkeln -->
<div id="modalOverlay" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:999;"></div>

</body>
</html>