<p><b>Plate Size</b><hr/><p>
<div class="form-group mt-3 mb-1 row">
    <div class="input-group input-group-sm">
        <div class="input-group-prepend">
            <span class="input-group-text">X</span>
        </div>
        <input type="number" name="size_x" value="100" class="form-control development-flowrate-insidence change-graph-size-parameter change-bands-table" step="1" required="" id="id_size_x">
        <div class="input-group-append">
            <span class="input-group-text">mm</span>
        </div>
    </div>
</div>
<div class="form-group row pb-4">
    <div class="input-group input-group-sm">
        <div class="input-group-prepend">
            <span class="input-group-text">Y</span>
        </div>
        <input type="number" name="size_y" value="100" class="form-control change-graph-size-parameter change-bands-table" step="1" required="" id="id_size_y">
        <div class="input-group-append">
            <span class="input-group-text">mm</span>
        </div>
    </div>
</div>
