{% load static %}
<form class="volume-calculation-parameter" id='movementform'>
    <div class="form-group row">
        <div class="input-group input-group-sm">
            <label for="id_motor_speed" class="col-xl-3 col-lg-5 col-form-label col-form-label-sm text-truncate">X Motor Speed</label>
            <input type="number" name="motor_speed" value="1000" class="form-control" step="1" required="" id="id_motor_speed">
            <div class="input-group-append">
                <span class="input-group-text">mm/s</span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="input-group input-group-sm">
            <label for="id_pressure" class="col-xl-3 col-lg-5 col-form-label col-form-label-sm text-truncate" >Pressure</label>
            <input type="number" name="pressure" value="5" class="form-control change-volume-parameter" step="1" required="" id="id_pressure">
            <div class="input-group-append">
                <span class="input-group-text">psi</span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="input-group input-group-sm">
            <label for="id_frequency" class="col-xl-3 col-lg-5 col-form-label col-form-label-sm text-truncate">Frequency</label>
            <input type="number" name="frequency" value="1200" class="form-control change-volume-parameter" step="1" required="" id="id_frequency">
            <div class="input-group-append">
                <span class="input-group-text">Hz</span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="input-group input-group-sm">
            <label for="id_delta_y" class="col-xl-3 col-lg-5 col-form-label col-form-label-sm text-truncate">Delta Y</label>
            <input type="number" name="delta_y" value="0.75" class="form-control change-volume-parameter" step="0.01" required="" id="id_delta_y">
            <div class="input-group-append">
                <span class="input-group-text">mm</span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="input-group input-group-sm">
            <label for="id_delta_x" class="col-xl-3 col-lg-5 col-form-label col-form-label-sm text-truncate">Delta X</label>
            <input type="number" name="delta_x" value="0.75" class="form-control change-volume-parameter" step="0.01" required="" id="id_delta_x">
            <div class="input-group-append">
                <span class="input-group-text">mm</span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="input-group input-group-sm">
            <label for="id_temperature" class="col-xl-3 col-lg-5 col-form-label col-form-label-sm text-truncate">Temperature</label>
            <input type="number" name="temperature" value="0" class="form-control" step="1" id="id_temperature">
            <div class="input-group-append">
                <span class="input-group-text">°C</span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="input-group input-group-sm">
            <label for="id_nozzlediameter" class="col-xl-3 col-lg-5 col-form-label col-form-label-sm text-truncate">Nozzle</label>
            <select name="nozzlediameter" class="form-control change-volume-parameter" maxlength="120" id="id_nozzlediameter">
                <option value="0.25">0.25</option>
                <option value="0.19">0.19</option>
                <option value="0.13">0.13</option>
                <option value="0.10">0.10</option>
                <option value="0.08">0.08</option>
                <option value="0.05">0.05</option>
                <option value="atomizer 22k">atomizer 22k</option>
                <option value="atomizer 67k" selected="">atomizer 67k</option>
            </select>
            <div class="input-group-append">
                <span class="input-group-text">mm</span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="input-group input-group-sm">
            <label for="id_temperature" class="col-xl-3 col-lg-5 col-form-label col-form-label-sm text-truncate">Rinsing Period</label>
            <input type="number" name="rinsingPeriod" value="0" class="form-control" step="1" id="id_rinsingperiod">
            <div class="input-group-append">
                <span class="input-group-text">#cycles</span>
            </div>
        </div>
    </div>
</form>
