{% load static %}
<form class="volume-calculation-parameter" id="plateform">
    {% include 'modules/sampleapp/platesizes.html' %}
    {% include 'modules/sampleapp/offsets.html' %}
    <div class="form-group row pt-4">
        <div class="input-group input-group-sm">
            <label for="id_main_property" class="col-xl-3 col-form-label col-form-label-sm text-truncate"><h6><b>Band Calculation</b></h1></label>
            <select name="main_property" class="form-control" id="id_main_property">
                <option value="1">Number of Bands</option>
                <option value="2">Band Length</option>
            </select>
        </div>
    </div>
    <hr/>
    <div class="alert alert-warning alert-dismissible collapse" id='id_gap_error' role="alert">
        Reduce gap size for given number of bands
    </div>
    <div class="alert alert-warning alert-dismissible collapse" id='id_space_error' role="alert">
        There is not enough space for these parameters
    </div>
    <div class="form-group mt-3 mb-1 row" id='id_valuesform'>
        <div class="input-group input-group-sm">
            <label for="id_value" class="col-xl-2 col-form-label col-form-label-sm text-truncate" id="valueLabel">Number</label>
            <input type="number" name="value" value="2" class="form-control change-graph-size-parameter change-bands-table" step="1" required="" id="id_value">
            <div class="input-group-append">
                <span id='id_valuesunit' class="input-group-text">#</span>
            </div>
        </div>
    </div>
    <div class="form-group mb-1 row">
        <div class="input-group input-group-sm">
            <label for="id_height" class="col-xl-2 col-form-label col-form-label-sm text-truncate">Height</label>
            <input type="number" name="height" value="0" class="form-control change-graph-size-parameter" step="0.01" required="" id="id_height">
            <div class="input-group-append">
                <span class="input-group-text">mm</span>
            </div>
        </div>
        <div class="input-group input-group-sm">
            <label for="id_gap" class="col-xl-2 col-form-label col-form-label-sm text-truncate">Gap</label>
            <input type="number" name="gap" value="4" class="form-control change-graph-size-parameter" step="0.01" required="" id="id_gap">
            <div class="input-group-append">
                <span class="input-group-text">mm</span>
            </div>
        </div>
    
        <div class="input-group input-group-sm">
            <label for="id_waitTime" class="col-xl-2 col-form-label col-form-label-sm text-truncate">Pause</label>
            <input type="number" name="waitTime" value="0" class="form-control change-graph-size-parameter" step="1" required="" id="id_waitTime">
            <div class="input-group-append">
                <span class="input-group-text">s</span>
            </div>
        </div>
    </div>
</form>
