{% load static %}
<div class="modal fade" id="warmupAsModal" tabindex="-1" role="dialog" aria-labelledby="warmupAsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="warmupAsModalLabel">Warm Up</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                  <form id='warmup-form' method="post"> {% csrf_token %}
                    <div class="input-group">
                      <p>Frequency</p>
                      <label for="id_warmup_frequency" class="col-xl-2 col-form-label col-form-label-sm text-truncate"></label>
                      <input type="number" name="warmup_frequency" class='form-control px-1' value="1000" step="100" id='id_warmup_frequency'/>
                      <div class="input-group-append">
                          <span class="input-group-text">Hz</span>
                      </div>
                    </div>
                  </br>
                    <div class="input-group">
                      <p>Times (25 drops cycles)</p>
                      <label for="id_warmup_times" class="col-xl-2 col-form-label col-form-label-sm text-truncate"></label>
                      <input type="number" name="warmup_times" value="1" class="form-control" step="1" required="" id="id_warmup_times">
                      <div class="input-group-append">
                          <span class="input-group-text">times</span>
                      </div>
                    </div>
                  </br>
                  </form>
                  <div class="float-right">
                  <button class="btn btn-secondary btn-icon-split btn-sm" id='warming_up' type="submit">
                    
                    <span class="text">Start!</span>
                  </button>
                </div>
            </div>
            <div class="modal-header"></div>
           
            
        </div>
    </div>
</div>
<script src="{% static 'modules/warmupas/warmupas.js' %}"></script>