{% load static %}
<div class="card border-left-success shadow">
  <div class="card-header">
    <div class="d-flex flex-row justify-content-between align-items-center">
      <div class="text-xs font-weight-bold text-primary text-uppercase">Monitor</div>
      <i class="fa fa-desktop fa-2x text-green-500" aria-hidden="true"></i>
    </div>
  </div>  
  <div class="card-body">
    <!-- Text on Monitor -->
    <textarea class="form-control" disabled id="MonitorTextArea" rows="20" style="resize: none; font-size:small; background-color : #FEFEFE"></textarea>
    <div>
      <button class="btn btn-outline-secondary" id="download">Download as .txt</button>
    </div>
      <form class="form-inline" id='chatform'>
        <div class="input-group w-100 my-2">
        <input type="text" name="chattext" class="form-control" id="id_chattext">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" id='sendbttn'>Send</button>
          </div>
        </div>
      </form>
      <div>  
        <div class="text-xs font-weight-bold text-primary text-uppercase">Pressure
          <textarea class="form-control" disabled id="PressureTextArea" rows="1" style="resize: none; font-size:large; background-color : #ffffff; position: right"></textarea>  
        </div>  
      </div>
  </div>
  <div class="card-footer text-muted font-italic font-weight-bold">
    
    <div class="d-flex flex-row justify-content-around ">
      <div class="input-group-append">Dev: <span id='id_device_info'></span></div>
      <div class="input-group-append">Baud rate: <span id='id_baudrate_info'></span></div>
    </div>
  </div>
</div>
<script src="{% static 'modules/monitor/monitor.js' %}"></script>
