{% load static %}
<div class="container">
  <div class="float-right">
    <button class="btn btn-success btn-icon-split btn-sm" id='lighton'>
      <span class="icon text-white-50">
        <i class="fas fa-lightbulb"></i>
      </span>
      <span class="text">Turn On</span>
    </button>
    <button class="btn btn-danger btn-icon-split btn-sm" id='lightoff' disabled>
      <span class="icon text-white-50">
        <i class="fas fa-lightbulb"></i>
      </span>
      <span class="text">Turn Off</span>
    </button>
  </div>
</div>
<script src="{% static 'modules/backlightcontrol/backlightcontrol.js' %}"></script>

