<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-flask"></i>
    </div>
    <div class="sidebar-brand-text mx-3" style="text-transform: none;">2LabsToGo-Eco</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/connection/">
      <i class="fa fa-wifi" aria-hidden="true"></i>
      <span>Connection</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Interface
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <!-- <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>Parameters</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="axis">Axis</a>
        <a class="collapse-item" href="cards.html">Nozzle</a>
        <a class="collapse-item" href="cards.html">Camera</a>
        <a class="collapse-item" href="cards.html">LEDs</a>
      </div>
    </div>
  </li> -->

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true"
      aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Fine Control</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Utilities:</h6>
        <a class="collapse-item" href="/backlight/">Backlight Plate Holder</a>
        <a class="collapse-item" href="/light/">Case Light</a>
        <a class="collapse-item" href="/drypump/">Dry Pump</a>
        <a class="collapse-item" href="/fan/">Fan</a>
        <a class="collapse-item" href="/gcode-editor/">Gcode Editor</a>
        <a class="collapse-item" href="/temperature/">Plate Heater</a>
        <a class="collapse-item" href="/uv265light/">UV LED 265 nm</a>
        <a class="collapse-item" href="/uv365light/">UV LED 365 nm</a>
        <a class="collapse-item" href="/neolight/">White LED</a>
        <a class="collapse-item" href="/motorcontrol/">X,Y Motors</a>
      </div>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Application" aria-expanded="true"
      aria-controls="Application">
      <i class="fas fa-eye-dropper"></i>
      <span>Sample Application</span>
    </a>
    <div id="Application" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/sample/">Autosampler</a>
        <a class="collapse-item" href="/syringepump/">Syringe Pump</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Development" aria-expanded="true"
      aria-controls="Application">
      <i class="fas fa-shower"></i>
      <span>Development</span>
    </a>
    <div id="Development" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/development/">Development</a>
      </div>
    </div>

    <!--    <li class="nav-item">-->
    <!--      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Derivatization" aria-expanded="true" aria-controls="Application">-->
    <!--        <i class="fas fa-spray-can"></i>-->
    <!--        <span>Derivatization</span>-->
    <!--      </a>-->
    <!--      <div id="Derivatization" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">-->
    <!--        <div class="bg-white py-2 collapse-inner rounded">-->
    <!--          <a class="collapse-item" href="/derivatization/">Derivatization</a>-->
    <!--        </div>-->
    <!--      </div>-->

    <!--  </li>-->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Nebulizer" aria-expanded="true"
      aria-controls="Application">
      <i class="fas fa-cloud"></i>
      <span>Nebulization</span>
    </a>
    <div id="Nebulizer" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/cells/">Derivatization/Bioassay</a>
      </div>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Incubator" aria-expanded="true"
      aria-controls="Application">
      <i class="fas fa-egg"></i>
      <span>Incubation</span>
    </a>
    <div id="Incubator" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/incubation/">Incubation</a>
      </div>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Detection" aria-expanded="true"
      aria-controls="Application">
      <i class="fas fa-microscope"></i>
      <span>Detection</span>
    </a>
    <div id="Detection" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/capture/">Capture Image</a>
        <a class="collapse-item" href="/imageProcess/">Process Image</a>
        <!--        <a class="collapse-item" href="/hdr/">HDR</a>-->
      </div>
    </div>

  </li>
  <!--  <li class="nav-item">-->
  <!--    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Evaluation" aria-expanded="true" aria-controls="Application">-->
  <!--      <i class="fas fa-book-reader"></i>-->
  <!--      <span>Evaluation</span>-->
  <!--    </a>-->
  <!--    <div id="Evaluation" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">-->
  <!--      <div class="bg-white py-2 collapse-inner rounded">-->
  <!--        <a class="collapse-item" href="/evaluation/">Evaluation</a>-->
  <!--      </div>-->
  <!--    </div>-->

  <!--  </li>-->

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Addons
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
      aria-controls="collapsePages">
      <i class="far fa-user"></i>
      <span>Users</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Login Screens:</h6>
        <a class="collapse-item" href="/login/">Login</a>
        <a class="collapse-item" href="/register/">Register</a>
        <a class="collapse-item" href="/changepass/">Forgot Password</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Charts -->
  <!-- <li class="nav-item">
    <a class="nav-link" href="charts.html">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Charts</span></a>
  </li> -->

  <!-- Nav Item - Tables -->
  <!-- <li class="nav-item">
    <a class="nav-link" href="tables.html">
      <i class="fas fa-fw fa-table"></i>
      <span>Tables</span></a>
  </li> -->

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->